.Experiencia_laboral {
  margin-top: 100px;
}

.article_experiencia h3 {
  margin-top: 20px;
}

.article_experiencia h4 {
  margin-top: 5px;
}

.descripcion_experiencia {
  margin-top: 10px;
}

.footer_experiencia {
  margin-top: 10px;
}